export(dantec55R91)
export(distrLog)
export(fitKing)
export(hwBridgeConfig)
export(hwCable)
export(hwCalibr)
export(hwCalibrProbe1D)
export(hwCalibrProbe2D)
export(hwCalibrProbe3D)
export(hwOperatingTemp)
export(hwProbe)
export(hwRefTemp)
export(hwSignalConditioner)
export(hwSupport)
export(hwWire)
export(kingVel)
export(makePolyFit)
export(tempCorr)
export(v2temp)
